.login {
    background: ;
}

body {
    background: url(../images/business-3528035_1920.jpg) !important;
}

.login_content {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px #a5a1a1;
}