.login {
    background-image: url(../images/fundo_geleira.jpg) !important;
    background: rgb(42,63,84) !important;
    background: linear-gradient(0deg, rgba(42,63,84,1) 0%, rgba(151,166,181,0.1718858011652914) 100%);
}

body {
    
}

.login_content {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px #a5a1a1;
}