.icone-clip-anexo:hover {
    color: darkorange;
    cursor: pointer;
}

.icone-clip-anexo i {
    font-size: 1rem;
}

.painel-cadastro-proposta {
    /*display: none !important;*/
}







































.cod-cliente {
    text-align: right;
    padding-right: 40px !mportant;    
}
/*
.color-1 {
    border-right: solid 2px indianred;
}

.color-3 {
    border-right: solid 2px forestgreen;
}

.color-8 {
    border-right: solid 2px burlywood;
}

.color-11 {
    border-right: solid 2px #a987de;
}*/


.table td, .table th {
    padding: .2rem;
    vertical-align: baseline !important;
}

.lista-propostas .anexo {
    margin-right: 4px;
}

.td-cpf {
    font-size: .8em;
}

.active a span.fas {
    text-align: right !important;
    margin-right: 4px;
}

.main_menu span.fas {
    float: right !important;
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    min-width: inherit;
    color: #C4CFDA;
}

.lista-propostas .fa-circle {
    font-size: .7rem;
}

#modalAnexos .modal-header {
    background: rgb(25 42 59 / 94%);
}

#modalAnexos .modal-header .modal-title {
    color: #fff;
}

#modalAnexos .modal-footer form {
    width: 100%;
}