.x_title .navbar-right {
    display: none !important;
}


.icone-clip-anexo:hover {
    color: darkorange;
    cursor: pointer;
}

.btn-editar-proposta:hover {
    color: darkorange;
    cursor: pointer;
} 
.btn-editar-cliente:hover {
    color: darkorange;
    cursor: pointer;
}

.icone-clip-anexo i {
    font-size: 1rem;
}

.painel-cadastro-proposta {
    /*display: none !important;*/
}


.esconde-elemento {
    display: none !important;
    transition: all .5s;
    
}

.selected {
    background-color: #0062cc !important;
    color: white;
}

.painel-cadastro-proposta {
    opacity: 0 !important;
}

.mostra {
    opacity: 1 !important;
}

.title-proposta {
    margin-left: 8px !important;
    margin-left: 10px;
    font-weight: 600;
    color: #fff !important;
    border: solid thin;
    border-radius: 4px;
    padding: 1px 5px;
    background: #2A3F54    
}

.td-anexos {
    max-width: 4em;
}


.td-parce {
    text-align: right;
    padding-right: 25px !important;    
}

.td-situa i {
    border-radius: 0 0 0 8px;
    border-bottom: 1px solid #4a4040;
    box-shadow: 1px 1px 1px 1px #2e2d2d6e;
}

.icone-clip-anexo {
    border-right: solid thin #e6e5e5;
}

.td-anexos {
    border-left: solid thin #e6e5e5;
}



.message-file-exist {
    color: red;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    margin-left: .8em;    
}

.td-lista-anexos {
    font-size: 1.8em;
}


.td-id_cli, .td-cep_cli, .td-identidade_cli, .td-numero_cli, .td-datanasc_cli {
    text-align: right;
}



























.cod-cliente {
    text-align: right;
    padding-right: 40px !mportant;    
}
/*
.color-1 {
    border-right: solid 2px indianred;
}

.color-3 {
    border-right: solid 2px forestgreen;
}

.color-8 {
    border-right: solid 2px burlywood;
}

.color-11 {
    border-right: solid 2px #a987de;
}*/


.table td, .table th {
    padding: .2rem;
    vertical-align: baseline !important;
}

.lista-propostas .anexo {
    margin-right: 4px;
}

.painel-lista-clientes .table td, .table th {
    padding: .4rem !important;
    vertical-align: baseline !important;    
}

.td-cpf {
    font-size: .8em;
}

.active a span.fas {
    text-align: right !important;
    margin-right: 4px;
}

.main_menu span.fas {
    float: right !important;
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    min-width: inherit;
    color: #C4CFDA;
}

.lista-propostas .fa-circle {
    font-size: .7rem;
}

#modalAnexos .modal-header {
    background: rgb(25 42 59 / 94%);
}

#modalAnexos .modal-header .modal-title {
    color: #fff;
}

#modalAnexos .modal-footer form {
    width: 100%;
}